<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">-->
    <link rel="stylesheet" th:href="@{/css/pixel.min.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <title>URL Shortener</title>
</head>
<body>
<div class="container my-5">
    <h1 class="mb-5 text-center text-capitalize">URL Shortener</h1>

    <div class="mb-3">
        <input type="url" class="form-control" id="target-url" placeholder="Your long url, e.g. https://www.youtube.com/watch?v=dQw4w9WgXcQ" autocomplete="off" required>
        <div class="invalid-feedback" id="target-url-error-message"></div>
    </div>

    <div class="mb-3 text-center">
        <i class="bi bi-chevron-double-down"></i>
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon3" th:text="${baseUrl}"></span>
        <input type="text" class="form-control" id="slug" placeholder="your-custom-short-url-here" autocomplete="off" onkeyup="handleSlugInput()" onchange="handleSlugInput()" required>
        <div id="slug-error-message" class="invalid-feedback"></div>
    </div>
</div>

<div id="success-panel" class="container mb-5 d-none">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="bi bi-check-circle-fill me-1"></i>
        <strong>Success!</strong> Your short url is <a id="success-url" target="_blank"></a>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>

<div class="fixed-bottom mb-3">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-7 col-xl-6 mb-3 mb-md-0">
                <div class="row">
                    <label class="col-auto col-form-label" for="expire-duration">Expire In</label>
                    <div class="col">
                        <select class="form-select" id="expire-duration">
                            <option value="MIN_5">5 Minutes</option>
                            <option value="MIN_15" selected>15 Minutes</option>
                            <option value="MIN_30">30 Minutes</option>
                            <option value="HOUR_1">1 Hour</option>
                            <option value="HOUR_3">3 Hours</option>
                            <option value="HOUR_12">12 Hours</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="d-grid gap-2">
                    <button type="button" class="btn btn-primary" onclick="submit()">Shorten!</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
<script th:src="@{/js/index.js?v=2}" type="text/javascript"></script>

</body>
</html>
